#mkj_library_page p{
    margin: 0;
}

#mkj_library_page .container{
    padding-top: 30px;
}

.mkj-block{
    border: solid 2px green;
    padding: 15px;
    position: relative;
}

.mkj-book-elem .mkj-block{
    height: 100px;
    margin-bottom: 15px;
}

.mkj-book-elem .mkj-remove,
.mkj-book-elem .mkj-edit{
    position: absolute;
    right: 10px;
    color: green;
    width: 20px;
    height: 20px;
    border: solid 1px green;
    text-align: center;
    display: none;
    border-radius: 5px;
    cursor: pointer;
}

.mkj-book-elem .mkj-remove{
    top: 10px;
}

.mkj-book-elem .mkj-edit{
    top: 35px;
}

.mkj-remove .glyphicon,
.mkj-edit .glyphicon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mkj-view-elem{
    padding: 0 0 20px;
}

.mkj-view-elem p{
    padding-bottom: 10px;
}

.mkj-view-elem input{
    width: 100%;
    height: 30px;
}

#mkj_book_container{
    padding-top: 30px;
}

.mkj-book-elem{
    color: #545454;
    font-size: 12px;
}

.mkj-book-elem p{
    margin-right: 20px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mkj-book-title{
    font-size: 14px;
    color: green;
    padding-bottom: 10px;
}

.mkj-view-elem .text-danger{
    font-size: 12px;
    display: none;
}

@media(max-width: 767px){

    .mkj-book-elem .mkj-block{
        background: #ffffff;
    }

    .mkj-book-elem .mkj-block,
    .mkj-view-block,
    .mkj-search-block,
    .mkj-sort-block{
        margin-bottom: 10px;
    }

    #mkj_book_container{
        background: #95e098;
        padding-top: 10px;
    }

    .mkj-view-elem{
        padding-bottom: 10px;
    }


}